<p>toti-angajatii works!</p>
<!-- {{ persoane$ | async | json }} -->
@for (item of persoane$ | async; track $index) {
<div>Nume - {{ item.nume_produs }}</div>
}

<div [formGroup]="registerForm">
  <h2>Adauga tip produs</h2>

  <div class="row">
    <input
      class="flex1"
      type="text"
      id=""
      placeholder="Nume produs"
      formControlName="nume_produs"
      required
    />
  </div>
  <button class="submit" type="submit" (click)="aaa()">
    Adauga tip produs
  </button>
</div>
-----------------------------------
<form [formGroup]="dynamicForm">
  <div *ngFor="let control of jjj">
    <label>{{ control.label }}</label>
    <input [type]="control.type" [formControlName]="control.name" />
  </div>
</form>
