<!-- <form [formGroup]="dynamicForm">
  <div *ngFor="let control of jjj">
    <label>{{ control.label }}</label>
    <input [type]="control.type" [formControlName]="control.name" />
  </div>
</form> -->

<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let control of forms$ | async">
    <label>{{ control.label }}</label>
    <input [type]="control.type" [formControlName]="control.name" />
    <!-- <span
      *ngIf="
        dynamicForm.get(control.name)?.invalid &&
        dynamicForm.get(control.name)?.touched
      "
    >
      {{ getErrorMessage(control) }}
    </span> -->
  </div>
  <button type="submit">Submit</button>
</form>
<div>{{ formGroup | json }}</div>
